<p *ngIf="!entreprises"><em>Loading...</em></p>
<div *ngIf="!entreprises" class="loader">  

</div>
<div class="headerCards">
    <button (click)="navigate('formEntreprise')" role="button" class="button-13 nav-item buttonAddPerson" [routerLinkActive]="['link-active']">
        <i class="fas fa-plus"></i>
        <i class="fas fa-building"></i>
    </button>
    
</div>

<div class="blockEntreprises">
    <div class="pointer block entrepriseBlock" *ngFor="let entreprise of entreprises" (click)="navigateWithId('cardEntreprise', entreprise.entrepriseId)">
        <div>
            <span><strong>id:</strong>{{ entreprise.entrepriseId }}</span> 
            <span> {{ entreprise.titleEntreprise }}</span><i class="fa-solid fa-industry"></i>
        </div>
        
            <span> <i class="fas fa-envelope"></i> <span>{{ entreprise.emailEntreprise }}</span></span>
            <span><i class="fas fa-phone"></i> <span> {{ entreprise.telEntreprise }}</span></span>
        
    </div>
</div>

