.panel-collapse {
    position: absolute;
}

h1 {
    margin-left: -7vw;
}

.collpase {
    position: absolute
}

#handler {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -4vw;
}

    #handler * {
        margin-left: 10px;
    }

    #handler input {
        text-align: center;
        font-family: 'typrewriter', sans-serif;
        font-style: italic;
    }

#collapseListGroup1 {
    position: absolute;
}

.navbar-brand {
    font-weight: bolder;
    position: absolute;
    left: 10px;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    font-family: 'typewriter', sans-serif;
}

#no {
    display: none;
}

#mainPage nav {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

ul {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

nav ul li {
    margin: 0;
    line-height: 40px;
}

.table {
    margin-right: 15px;
    width:93%;
}

#jobboards {
    font-weight: bolder;
}

li {
    list-style: none;
}

#mainPage {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    margin-top: 40px;
}

aside {
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin-top: -13px;
    border-radius: 5px;
    border: 3px solid white;
    min-height: 350px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cardShadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

    .cardShadow:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

aside:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

table {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

    table:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

#lists {
    width: 100%;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
}

    #lists li {
        display: inline-block;
        outline: 0;
        cursor: pointer;
        border-radius: 8px;
        box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
        background: #FFD814;
        border: 1px solid #FCD200;
        font-size: 13px;
        height: 31px;
        padding: 0 11px;
        text-align: center;
        width: 100%;
        min-width: 7vw;
        margin-bottom: 15px;
        font-weight: 500;
        color: #0F1111;
    }


#ulDown {
    display: inline-flex;
    justify-content: space-around;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 3px solid white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 75.2%;
    margin-left: 3.6vw;
    margin-top: 10px;
}

    #ulDown:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    #ulDown li {
        background-color: #e1ecf4;
        border-radius: 3px;
        border: 1px solid #7aa7c7;
        box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
        box-sizing: border-box;
        color: #39739d;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.15385;
        margin: 0;
        outline: none;
        padding: 8px .8em;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        white-space: nowrap;
    }

        #ulDown li:hover,
        .ulDown li:focus {
            background-color: #b3d3ea;
            color: #2c5777;
        }

        #ulDown li:focus {
            box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
        }

        #ulDown li:active {
            background-color: #a0c7e4;
            box-shadow: none;
            color: #2c5777;
        }


#lists li:hover {
    background: #F7CA00;
    border-color: #F2C200;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

#jobs {
    border-top: 2px solid black;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 22px;
}

    #jobs ul {
        margin-bottom: 10px;
    }

    #jobs li {
        height: 30px;
    }

.navbar-brand img {
    border: 1px solid black;
    padding: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-right: 10px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 25px !important;
    font-family: 'typewriter', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
}

.buttonCandidature {
    position: absolute;
    left: 10px;
}

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

    .button-30:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }

    .button-30:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .button-30:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
    }

#commentaireEntreprise .mb-3 {
    display: none;
}

.cardEntreprise {
    border: 2px solid #f8f9fa;
    margin-right: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

    .cardEntreprise:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
    }

    .cardEntreprise h2 {
        text-align: center;
        margin-bottom: 17px;
        font-family: 'typewriter', sans-serif;
    }

    .cardEntreprise h3 {
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
        font-size: 1.32rem;
        border: 2px solid;
        font-family: "JetBrains Mono",monospace;
    }

    .cardEntreprise button {
        display: block;
        margin: auto;
        width: 117px;
        font-family: "JetBrains Mono",monospace;
    }

.comment p {
    border: 1px solid;
    display: block;
    width: 95%;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

#contactEntreprise {
    text-align: center;
}

    #contactEntreprise ul li {
        line-height: 40px;
        border: 1px solid;
        width: 40%;
        margin: auto;
        margin-top: 10px;
    }

        #contactEntreprise ul li a {
            display: block;
            width: 100%;
        }

#listCandidatures {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

    #listCandidatures a {
        line-height: 40px;
        text-align: center;
        border: 1px solid;
        margin: 10px;
    }

.cardPerson {
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

    .cardPerson h3 {
        margin: 10px 0;
    }

    .cardPerson h6 {
        margin: 5px 0;
        text-transform: uppercase;
    }

    .cardPerson .comment {
        margin-top: 22px;
        margin-bottom: 10px;
    }

    .cardPerson p {
        font-size: 14px;
        line-height: 21px;
    }

.skills button {
    position: absolute;
    right: 25px;
    padding-right: 25px;
    padding-left: 25px;
}

.cardPerson .card-container {
    background-color: #231E39;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
    color: #B3B8CD;
    padding-top: 30px;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
}

    .cardPerson .card-container .pro {
        color: #231E39;
        background-color: #FEBB0B;
        border-radius: 3px;
        font-size: 14px;
        font-weight: bold;
        padding: 3px 7px;
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .cardPerson .card-container .round {
        border: 1px solid #03BFCB;
        border-radius: 50%;
        padding: 7px;
    }

.cardPerson button.primary {
    background-color: #03BFCB;
    border: 1px solid #03BFCB;
    border-radius: 3px;
    color: #231E39;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px 25px;
}

    .cardPerson button.primary.ghost {
        background-color: transparent;
        color: #02899C;
    }

.cardPerson .skills {
    background-color: #1F1A36;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
}

    .cardPerson .skills ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        .cardPerson .skills ul li {
            border: 1px solid #2D2747;
            border-radius: 2px;
            display: inline-block;
            font-size: 12px;
            margin: 0 7px 7px 0;
            padding: 7px;
            cursor: pointer;
        }

.cardCandidature {
    border: 1px solid;
    margin-right: 17px;
    padding: 13px;
    padding-bottom: 32px;
    padding-top: 32px;
}

    .cardCandidature .headerCandidature p {
        position: absolute;
        top: 16px;
        right: 21px;
        font-weight: bolder;
        text-transform: uppercase;
    }

    .cardCandidature .headerCandidature h2 {
        border: 1PX SOLID;
        display: block;
        width: 82%;
        margin: auto;
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
    }

    .cardCandidature .mainCandidature {
        border: 1px solid;
        padding: 17px;
    }

    .cardCandidature h4 {
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 21px;
        width: 70%;
        border: 1px solid;
        border-bottom: 0;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .cardCandidature .docEnvoye {
        border: 1px solid;
        padding: 12px;
    }

        .cardCandidature .docEnvoye ul {
            display: flex;
            flex-direction: row;
            margin: auto;
            font-weight: bolder;
            margin-left: 7px;
        }

            .cardCandidature .docEnvoye ul li {
                margin-left: 20px;
                font-weight: 500;
            }

    .cardCandidature .commentCandidature h6 {
        margin-top: 20px;
        text-align: center;
    }

    .cardCandidature .commentCandidature p {
        display: block;
        border: 1px solid;
        width: 100%;
        padding: 25px;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .cardCandidature .footerCandidature h5 {
        margin-left: 16px;
    }

    .cardCandidature .footerCandidature button {
        position: absolute;
        right: 35px;
        bottom: 45px;
        padding-right: 35px;
        padding-left: 35px;
    }

.formCandidature {
    border: 1px solid;
    margin-right: 20px;
    padding: 20px;
    width:92%;
}

.telEmailForm {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    margin-left: 2px;
}

    .telEmailForm input {
        padding-left: 10px;
    }

    .telEmailForm i {
        margin-right: 10px;
        font-size: 1.2rem;
        margin-left: 15px;
        border: 2px solid;
        padding: 8px 8px;
        border-radius: 20px;
        color: #146aeb;
        text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    }

.formCandidature h2 {
    text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.formCandidature .listAndAdd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height:50px;
}

    .formCandidature .listAndAdd * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

.formCandidature .contactFormContact .listAndAdd {
    justify-content: center;
    margin-top: 23px;
}

    .formCandidature .contactFormContact .listAndAdd .inputButton {
        width: 74%;
        margin-left: 10px;
    }

        .formCandidature .contactFormContact .listAndAdd .inputButton button {
            padding: 10px 15px;
        }

            .formCandidature .contactFormContact .listAndAdd .inputButton button input {
                width: 99%;
                padding: 3px 5px;
            }

.formCandidature .listAndAdd *:focus,
.formCandidature .listAndAdd *:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}



.formCandidature .listAndAdd .wrapper {
    display: inline-flex;
    list-style: none;
}

    .formCandidature .listAndAdd .wrapper .icon {
        position: relative;
        background: #ffffff;
        border-radius: 50%;
        padding: 15px;
        margin: 10px;
        width: 35px;
        height: 35px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .formCandidature .listAndAdd .wrapper .tooltip {
        position: absolute;
        top: 0;
        font-size: 14px;
        background: #ffffff;
        color: #ffffff;
        padding: 5px 8px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

        .formCandidature .listAndAdd .wrapper .tooltip::before {
            position: absolute;
            content: "";
            height: 8px;
            width: 8px;
            background: #ffffff;
            bottom: -3px;
            left: 50%;
            transform: translate(-50%) rotate(45deg);
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

    .formCandidature .listAndAdd .wrapper .icon:hover .tooltip {
        top: -45px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .formCandidature .listAndAdd .wrapper .icon:hover span,
    .formCandidature .listAndAdd .wrapper .icon:hover .tooltip {
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }

    .formCandidature .listAndAdd .wrapper .addDoc:hover,
    .formCandidature .listAndAdd .wrapper .addDoc:hover .tooltip,
    .formCandidature .listAndAdd .wrapper .addDoc:hover .tooltip::before {
        background: #1877F2;
        color: #ffffff;
    }

.formCandidature .listAndAdd button {
    padding: 5px 15px;
}

.formCandidature .button-13 {
    min-width: 197px;
}
.checkBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.checkBox input{
    margin-right:10px;
}

.button-13 {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    height: 40px;
}

    .button-13:hover {
        background-color: #f7fafa;
    }

    .button-13:focus {
        border-color: #008296;
        box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
        outline: 0;
    }

.contactFormCandidature {
    align-items: center;
}


    .contactFormCandidature .inputButton i {
        width: 40px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 7px;
        margin-right: 7px;
        border: 1px solid;
        border-radius: 10px;
        z-index: 1070;
    }

        .contactFormCandidature .inputButton i:hover {
            background: black;
            color: white;
        }

    .contactFormCandidature .inputButton {
        display: flex;
        width: 41%;
    }

        .contactFormCandidature .inputButton button {
            display: flex;
            align-items: center;
        }

            .contactFormCandidature .inputButton button input {
                display: block;
                width: 98%;
            }

.mainFormCandidature .comment h3 {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 12px;
}

.mainFormCandidature textarea {
    overflow: auto;
    resize: vertical;
    display: block;
    width: 90%;
    margin: auto;
    min-height: 200px;
    margin-bottom: 20px;
}

.mainFormCandidature .inputGde {
    display: block;
    width: 78%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttonsForm {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 25px;
}

    .buttonsForm button {
        min-width: 100px;
    }

.buttonFormList button {
    min-width: 130px;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
.cardLogin * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.cardLogin .wrapper {
    max-width: 350px;
    min-height: 400px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.cardLogin .logo {
    width: 80px;
    margin: auto;
}

.cardProfile .wrapper {
    min-height: 200px !important;
}

.cardProfile .text-center {
    margin-top: 20px;
    border: 1px solid #d6dadd;
    padding: 10px 0px;
    border-radius: 11px;
}

.cardProfile .logo {
    margin-bottom: 20px;
}

.cardProfile .text-center a {
    font-size: 1.1rem !important;
}

.cardProfile .form-field {
    margin-top: 10px;
}

.cardLogin .logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff;
}

.cardLogin .wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.cardLogin .wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.cardLogin.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

    .cardLogin .wrapper .form-field .fas {
        color: #555;
        margin-right: 15px;
    }

.cardLogin .wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

    .cardLogin .wrapper .btn:hover {
        background-color: #039BE5;
    }

.cardLogin .wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

    .cardLogin .wrapper a:hover {
        color: #039BE5;
    }

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}

@media screen and (max-width: 1139px) {
    aside {
        display: flex !important;
        flex-direction: row;
        min-height: unset;
        padding: 0;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 6px;
        border-radius: 35px;
        height: 88px;
    }

    .table {
        margin-right: 5px;
        margin-left: 5px;
    }

    #table {
        overflow-x: auto;
    }

    aside ul {
        display: flex;
    }

        aside ul li {
            margin: 20px;
        }

    #lists {
        justify-content: unset;
        min-height: unset;
        width: 92%;
    }

    #jobs {
        border: 0;
        width: 100%;
        padding-top: 0;
        margin-top: -16px;
    }

    #mainPage nav {
        justify-content: center;
        width: 70%;
    }

    #jobs h5 {
        height: 10px;
    }

    #jobs ul {
        height: 10px;
        line-height: 10px;
        margin: 0;
    }

    #jobs li {
        margin-bottom: 20px;
        flex-wrap: wrap;
        height: fit-content;
        margin-right: 0;
        margin-left: 16px;
        line-height: 16px;
    }

    #lists {
        padding-top: 0;
    }

        #lists li {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 10vw;
            margin-bottom: auto;
        }
}

@media screen and (max-width: 900px) {
    .table {
        margin-top: 41px;
    }

    .buttonCandidature {
        position: absolute;
        top: 25%;
        right: 1%;
    }

    .buttonRechercher {
        margin-left: 25px !important;
    }

    .container {
        justify-content: flex-end !important;
    }

    #handler * {
        margin-left: unset;
    }

    aside {
        height: auto;
        flex-direction: column;
    }

    #jobs ul {
        height: unset;
    }

    #jobs h5 {
        margin-bottom: 25px;
    }

    #jobs li {
        line-height: 6px;
    }

    #lists {
        justify-content: center;
        margin-bottom: 25px;
    }

        #lists li {
            min-width: 21vw;
        }

        #lists ul {
            flex-direction: row;
        }

    aside ul {
        display: flex;
        flex-direction: column;
    }

    #ulDown {
        width: 93%;
        margin-left: unset;
    }

    #mainPage nav {
        width: 100%;
    }

    .cardEntreprise {
        margin: auto;
        margin-top: 53px;
    }

    #contactEntreprise ul li {
        width: 90%;
    }
}

