<ul class="navbar-nav" *ngIf="isAuthenticated | async">
    <li class="nav-item">
        <a  class="nav-link text-dark linkNav" [routerLink]='["/authentication/profile"]' title="Manage">Hello {{ userName | async }}</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link text-dark linkNav" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Logout</a>
    </li>
</ul>
<ul class="navbar-nav" *ngIf="!(isAuthenticated | async)">
  <li class="nav-item linkNav">
      <a class="nav-link text-dark linkNav" [routerLink]='["/authentication/register"]'>Enregistrer</a>
    </li>
    <li class="nav-item linkNav">
        <a class="nav-link text-dark linkNav" [routerLink]='["/authentication/login"]'>Connexion</a>
    </li>
</ul>
