<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
      <div class="container">
          <img class="logoNav" src="../../assets/img/android-chrome-192x192.png" alt="logo" />
          <a class="navbar-brand titleNav" (click)="navigate()" [routerLink]="['/']">Gestionnaire des Candidatures</a>
          <button class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target=".navbar-collapse"
                  aria-label="Toggle navigation"
                  [attr.aria-expanded]="isExpanded"
                  (click)="toggle()">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
               [ngClass]="{ show: isExpanded }">
              <app-login-menu></app-login-menu>
              <ul class="navbar-nav flex-grow">
                  <li (click)="navigate()" class="nav-item linkNav"
                      [routerLinkActive]="['link-active']"
                      [routerLinkActiveOptions]="{ exact: true }">
                      Accueil
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</header>
